body {
    text-align: center;
    background-color: rgb(222, 239, 255);
    color: rgb(0, 0, 0);
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    margin: 0;
}

/* 시작 화면 스타일 */
#start-screen h1 {
    font-size: 50px;
    margin-bottom: 20px;
}

#start-screen button {
    padding: 10px 25px;
    font-size: 24px;
    background-color: rgb(255, 255, 232); 
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

#start-screen button:hover {
    background-color: #e6b800;
}


.game-board {
    display: grid;
    grid-template-columns: repeat(4, 130px); 
    gap: 20px;
    justify-content: center;
    margin: 0 auto;
}

.card {
    width: 130px;
    height: 130px;
    background-color: gray;
    border-radius: 10px;
    cursor: pointer;
    
    display: flex;
    justify-content: center;
    align-items: center;
}


.card img {
    width: 80%;
    height: 80%;
    object-fit: contain;
    display: none; 

    /*테두리*/
    border: 3px solid #555; 
    border-radius: 8px;
    background-color: white; 
}


.card.flipped {
    background-color: white;
}


.card.flipped img {
    display: block; 
}


#clear-screen h1 {
    font-size: 50px;
    color: #0044ff; 
    margin-bottom: 20px;
}

#clear-screen button {
    padding: 10px 25px;
    font-size: 24px;
    background-color: rgb(244,232,255); 
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

#clear-screen button:hover {
    background-color: rgb(207, 207, 225);
}